
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link type="text/css" href="{{ static('gutils/css/print.css') }}" rel="stylesheet"/>
{% block head %}{% endblock %}
</head>
<body>

<div class="actions" class="clear">
    <input type="button" value="{{ _('Print') }}" class="btn btn-primary" onclick="window.print()">
    <input type="button" value="{{ _('Cancel') }}" class="btn btn-danger" onclick="history.go(-1)">
</div>

{% block main %}{% endblock %}

<div class="actions" class="clear">
	<input type="button" value="{{ _('Print') }}" class="btn btn-primary" onclick="window.print()">
	<input type="button" value="{{ _('Cancel') }}" class="btn btn-danger" onclick="history.go(-1)">
</div>
</body>
</html>
