{% if form_tag %}<form method="{{ method }}" action=""{% if not autocomplete %} autocomplete="off"{% endif %}{% if enctype %} enctype="{{ enctype }}"{% elif (form and form.is_multipart()) or (formset and formset.is_multipart()) %} enctype="multipart/form-data"{% endif %}>{% endif %}
{% if not hide_csrf %}
{% csrf_token %}
{% endif %}

{% if form and formset and formset_horizontal %}
<div class="row">
<div class="form-col">
{% endif %}

{% if form %}
{% for f in form.hidden_fields() %}{{ f }}{{ f.errors }}{% endfor %}
{% endif %}

<table class="form">
{% if save_on_top %}
<tr>
    <th></th>
    <td class="form-actions">
        <button class="btn btn-primary" type="submit">{{ submit_text }}</button>
        {% if is_popup %}
        <button class="btn btn-close-popup" type="button">{{ _('Close') }}</button>
        {% else%}
        <button class="btn" type="button" onclick="history.back()">{{ _('Back') }}</button>
        {% endif %}
    </td>
</tr>
{% endif %}

{% if form and form.non_field_errors() %}
<tr><th></th><td>{{ form.non_field_errors() }}</td></tr>
{% endif %}

{% if form_details %}
{% for detail in form_details %}
<tr>
    <th>{{ detail[0] }}</th>
    <td><div class="detail">{{ detail[1]|safe }}</div></td>
</tr>
{% endfor %}
{% endif %}
{% if form %}

{% for field in form.visible_fields() %}
{% if not form.extra_fields or field.name not in form.extra_fields %}
<tr{% if field.css_classes() %} class="{{ field.css_classes() }}"{% endif %}>
    <th>{{ field.label_tag() }}</th>
    <td>{{ field.errors }}{{ field }}{% if field.help_text %}<br /><span class="helptext">{{ field.help_text }}</span>{% endif %}</td>
</tr>
{% endif %}
{% endfor %}


{% if form.extra_fields %}
<tr>
    <th colspan="2"><button class="btn" type="button" onclick="$('.extra-field').toggle();"><i class="fa fa-caret-right"></i> {{ _('Additional settings') }}</button></th>
</tr>
{% for field in form %}
{% if field.name in form.extra_fields %}
<tr class="extra-field{% if field.css_classes() %} {{ field.css_classes() }}{% endif %}">
    <th>{{ field.label_tag() }}</th>
    <td>{{ field.errors }}{{ field }}{% if field.help_text %}<br /><span class="helptext">{{ field.help_text }}</span>{% endif %}</td>
</tr>
{% endif %}
{% endfor %}
{% endif %}

{# form.as_table() #}

{% endif %}
{% if formset and not formset_horizontal %}
<tr>
    <th></th>
    <td>{% if formset_title %}<h3>{{ formset_title }}</h3>{% endif %}
        {{ formset.management_form|safe }}{{ formset.non_form_errors() }}
    </td>
</tr>
{{ formset.as_table() }}
{% endif %}
<tr>
    <th></th>
    <td class="form-actions">
        <button class="btn btn-primary" type="submit">{{ submit_text }}</button>
        {% if form_buttons %}
        {% for button in form_buttons %}
            {% if button.url %}
                <a class="btn btn-primary" href="{{ button.url }}">{{ button.caption }}</a>
            {% else %} 
               <button class="btn btn-primary" type="submit" name="{{ button.name }}" value="{{ button.value }}">{{ button.caption }}</button>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if is_popup %}
            {% if reload_when_close %}
            <button class="btn" type="button" onclick="parent.location.reload();">{{ _('Close') }}</button>
            {% else %}
            <button class="btn btn-close-popup" type="button">{{ _('Close') }}</button>
            {% endif %}
        {% else%}
        <button class="btn" type="button" onclick="history.back()">{{ _('Back') }}</button>
        {% endif %}
    </td>
</tr>
</table>


{% if formset and formset_horizontal %}
{% if form %}
</div>
<div class="formset-col">
{% endif %}
{{ formset.management_form|safe }}
{{ formset.non_form_errors() }}
<table class="formset">
{% for frm in formset %}
    {% if loop.first %}
    <thead>
        <tr>
            <th>{{ _('#') }}</th>
            {% for f in frm.visible_fields() %}
            <th>{{ f.label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        {% if frm.errors %}
        <tr>
            <td colspan="2">{% for e in frm.errors.values() %}{{ e }}{% endfor %}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="index">{{ loop.index }}{% for f in frm.hidden_fields() %}{{ f }}{% endfor %}</td>
            {% for f in frm.visible_fields() %}
            <td class="{{ f|field_class }}">{{ f }}{{ f.errors }}</td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% if not form %}
<p class="form-actions">
    <button class="btn btn-primary" type="submit">{{ submit_text }}</button>
    {% if form_buttons %}
    {% for button in form_buttons %}
    <button class="btn btn-primary" type="submit" name="{{ button.name }}" value="{{ button.value }}">{{ button.caption }}</button>
    {% endfor %}
    {% endif %}
    {% if is_popup %}
    {% if reload_when_close %}
        <button class="btn" type="button" onclick="parent.location.reload();">{{ _('Close') }}</button>
        {% else %}
        <button class="btn btn-close-popup" type="button">{{ _('Close') }}</button>
        {% endif %}
    {% else%}
    <button class="btn" type="button" onclick="history.back()">{{ _('Back') }}</button>
    {% endif %}
</p>
{% endif %}
{% if form %}
</div>
</div>
{% endif %}
{% endif %}

{% if form_tag %}</form>{% endif %}
