<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%block title %}{% endblock %}</title>

<link type="text/css" href="{{ static('gutils/js/qtip/jquery.qtip.min.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ static('gutils/css/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ static('gutils/js/jquery/jquery-ui.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ static('gutils/css/gutils.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ static('gutils/css/popup.css') }}" rel="stylesheet"/>

<script type="text/javascript" src="{{ static('gutils/js/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ static('gutils/js/jquery/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ url('gutils-locale-js') }}"></script>
<script type="text/javascript" src="{{ static('gutils/js/jquery/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ static('gutils/js/qtip/jquery.qtip.min.js') }}"></script>
<script type="text/javascript" src="{{ static('gutils/js/magnific/jquery.magnific-popup.min.js') }}"></script>
<script type="text/javascript" src="{{ static('gutils/js/plugins.js') }}"></script>
<script type="text/javascript" src="{{ static('gutils/js/popup.js') }}"></script>

{% include 'gutils/head.html' %}
{% block head %}{% endblock %}
</head>
<body>
<div id="container">
{% for message in messages %}
<div class="message-{{ message.tags }}">
    <span class="message-close" onclick="$(this).parent().remove();" title="{{ _('Close') }}"><span class="fa fa-close"></span></span>
    {{ message|safe }}
</div>
{% endfor %}
{% block before_main %}{% endblock %}
{% block main %}{% endblock %}
{% block after_main %}{% endblock %}
</div>
{{ static_render() }}
</body>
</html>